<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="dashboardrectifier">
    <meta name="author" content="muhammadfauzimilad">

    <title>Sync All DB Infor GS Battery</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <link rel="shortcut icon" href="~/Content/images-new/logo_gs_battery_nonbg.ico">

    @RenderSection("scripts", required: true)

    <script async custom-element="amp-auto-ads"
            src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7649943614862619"
            crossorigin="anonymous"></script>
</head>

<body>

</body>

</html>